html {
    scroll-behavior: smooth;
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;   
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 100%);
    background-image: url("images/smccnasipit_bodycover.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

table {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

td {
    text-align: center;
    padding: 20px .625em .625em .625em;
    border-bottom: 1px solid #f8f8f8;
    text-align: left;
    font-size: 13px;
}

header {
    background-color: rgb(0, 0, 200);
    padding: auto;
    min-height: 10px;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    display: inline;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

header p {
    color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-right: 20px;
}

header p, #highlight nav{
    font-size: 15px;
    float:inline-end;
}

.btn {
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 30px;
    cursor: pointer;
}

#highlight h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    float: left;
    padding-left: 10px;
}

#highlight li {
    font-weight: bold;
    display: inline-block;
    color: #000000;
}

#highlight a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

#highlight a:hover {
    color: blue;
    font-weight: bold;
}

.centervid {
    position: absolute;
    margin: auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1#article-title {
    font-size: 50px;
    text-align: center;
    border: 4px solid black;
    background-color: white;
    border-radius: 10px;
}

.vmgo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#ccis, #contacts {
    background-color: #05053bf5;
    border-radius: 15px;
    padding: 20px;
    width: 70%;
    margin: 50px auto;
    color: white;
}

#servicespanel {
    background-color: #05053bf5;
    border-radius: 15px;
    padding: 20px;
    width: 20%;
    margin: 50px auto;
    color: white;
}

ul#service li {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

#contacts a, #btn-back-to-top a {
    color: white;
}

#contacts img {
    vertical-align: middle;
}

footer {
    background-color: rgb(0, 0, 200);
    padding: auto;
    min-height: 60px;
    color: white;
}

footer p {
    margin: 20px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: blue;
    color: white;
    font-weight: bolder;
    border-radius: 100px;
    height: 50px;   
    width: 50px;
    z-index: 99;
    transition: bottom 0.5s ease;
}
  
#btn-back-to-top:hover {
    color: white;
    border: 2px solid white;
}

footer img {
    margin-left: 10px;
    width: 80px;
    border-radius: 10px;
    vertical-align: middle;
    border: 2px solid black;
}